// Colors
$grey: #d4d4d4;
$dark-grey: #bebebe;
$blue: #2637dd;
$orange: #ff431d;
$black: #0e0e0e;

// Fonts
h5 {
  font-family: 'Rubik', sans-serif;
}
body {
  font-family: 'Roboto', sans-serif;
}

// Custom styles
body {
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header {
  padding: 10px 0;
  border-bottom: 1px solid $grey;
  .logo {
    color: $orange;
    text-decoration: none;
  }
  nav {
    flex: 1;
    text-align: right;
    a {
      color: $black;
      text-decoration: none;
      padding-left: 20px;
      &:hover {
        color: $black;
        text-decoration: underline;
      }
    }
  }
}

main {
  margin-top: 30px;
  ul {
    list-style: none;
  }
  a {
    color: $blue;
    font-weight: bold;
    text-decoration: none;
    &:hover {
      color: $blue;
      text-decoration: underline;
    }
  }
  .button.button-primary {
    color: $blue;
    background-color: white;
    border: 2px solid $blue;
    text-decoration: none;
    &:hover, &:focus {
      background-color: $blue;
      border: 2px solid $blue;
      text-decoration: none;
    }
  }
  .button {
    color: $orange;
    background-color: white;
    border: 2px solid $orange;
    text-decoration: none;
    &:hover, &:focus {
      color: white;
      background-color: $orange;
      border: 2px solid $orange;
      text-decoration: none;
    }
  }
  .intro-section {
    color: $orange;
    border: 5px solid $orange;
    padding: 40px;
  }
  .value-props {
    svg {
      stroke: $orange;
    }
    h6 {
      margin-bottom: 5px;
    }
  }

}

// Helpers

@for $i from 1 through 70 {

  $size-increment: 5;
  $size: $i*$size-increment;

  .margin-#{$size}px {
    margin: #{$size}px !important;
  }
  .margin-top-#{$size}px {
    margin-top: #{$size}px !important;
  }
  .margin-bottom-#{$size}px {
    margin-bottom: #{$size}px !important;
  }
  .margin-left-#{$size}px {
    margin-left: #{$size}px !important;
  }
  .margin-right-#{$size}px {
    margin-right: #{$size}px !important;
  }
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.align-bottom {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.margin-bottom-none {
  margin-bottom: 0;
}

.text-center {
  text-align: center;
}