<% if flash.has?(:message) %>
  <%= erb(:warning) %>
<% end %>

<form action="/reviews" method="POST">
  <div class="row flex align-bottom">
    <div class="four columns">
      <label for="name">Review name</label>
      <input class="u-full-width" name="review[name]" type="text" id="name">
    </div>

    <div class="four columns">
      <label for="rating">Review rating</label>
      <select class="u-full-width" name="review[rating]">
        <% (1..10).each do |number| %>
          <option><%= number %></option>
        <% end %>
      </select>
    </div>

    <div class="four columns">
      <label for="category">Review category</label>
      <input class="u-full-width" name="review[category]" type="text" id="category">
    </div>
  </div>

  <div class="twelve columns">
    <label for="content">Review content</label>
    <textarea class="u-full-width" name="review[content]" type="text" id="content"></textarea>
    <input class="button-primary" type="submit" value="Submit review">
  </div>
</form>