<div class="row">
  <div class="column twelve">
    <h1>Welcome to my Review Site</h1>
  </div>
  <div class="columns twelve">
    <a class="button" href="/signup">Sign up</a>
    <a class="button" href="/login">Log In</a>
  </div>
</div>
