<!DOCTYPE html>
<html lang="en">

  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  </head>

  <body>
    <header>
      <h1><a href="/">APP NAME</a></h1>
      <nav>
        <ul>
          <li><a href="/logout">Log out</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <p>FOOTER TEXT</p>
    </footer>
  </body>
</html>