<!DOCTYPE html>
<html lang="en">

  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500|Rubik:700,900" >
    <link rel="stylesheet" href="<%= stylesheet_path 'application' %>">
  </head>

  <body>
    <div class="container">
      <header class="flex align-center">
        <h5 class="margin-bottom-none"><a class="logo" href="/">Review Capture</a></h5>
        <nav>
          <% if logged_in? %>
            <a href="/reviews/new">Write a review</a>
            <a href="/reviews">All reviews</a>
            <% if current_user.reviews.any? %>
              <a href="/reviews/user/<%= current_user.slug %>">My reviews</a>
            <% end %>
            <a href="/logout">Log out</a>
          <% end %>
        </nav>
      </header>

      <main>
        <%= yield %>
      </main>

    </div>
  </body>
</html>